{% extends 'base.html' %}
{% from 'macros.html' import main_menu %}
{% block title %}Минимальные периоды, когда цена на {{ ticker }} изменилась больше, чем на {{ delta }}{% endblock %}
{% block body %}
    <h1>Минимальные периоды, когда цена на {{ ticker }} изменилась больше, чем на {{ delta }}</h1>
    {{ main_menu(ticker) }}
    <form method="get">
        <fieldset>
            <label for="value">Дельта (N)</label>
            <input type="number" min="0" step="1" id="value" name="value" value="{{ delta }}"/>
            <label for="type">Тип цены</label>
            <select name="type" id="type">
                {% for price_type in price_types %}
                    <option value="{{ price_type }}"
                            {% if price_type == type %}
                            selected="selected"
                            {% endif %}
                    >{{ price_types[price_type] }}</option>
                {% endfor %}
            </select>
            <input class="button-primary" type="submit" value="Показать">
        </fieldset>
    </form>
    {% if min_duration is not none %}
        <h2>Длительность минимального периода - {{ min_duration }}</h2>
    {% else %}
        <h2>Таких периодов не найдено</h2>
    {% endif %}
    {% for interval in intervals %}
        <p>C {{ interval.date_from }} по {{ interval.date_to }} {{ price_types[type] }} изменилась на {{ interval.delta }}</p>
    {% endfor %}
{% endblock %}