{% extends 'base.html' %}
{% block title %}История цен на {{ ticker }}{% endblock %}
{% block body %}
    <h1>История цен на {{ ticker }}</h1>
    <ul>
        <li><a href="{{ url_for('web_blueprint.index') }}">Вернуться к списку</a></li>
        <li><a href="{{ url_for('web_blueprint.insider_trades', symbol=ticker) }}">Посмотреть торги инсайдеров для {{ ticker }}</a></li>
    </ul>
    <table>
        <thead>
        <tr>
            <th>Дата</th>
            <th>Цена открытия</th>
            <th>Максимум за день</th>
            <th>Минимум за день</th>
            <th>Цена закрытия</th>
            <th>Объём торгов за день</th>
        </tr>
        </thead>
        <tbody>
        {% for historical_price in historical_prices %}
            <tr>
                {% for key in historical_price %}
                    <td>{{ historical_price[key] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}