{% extends 'base.html' %}
{% block title %}Торги инсайдеров для {{ ticker }}{% endblock %}
{% block body %}
    <h1>Торги инсайдеров для {{ ticker }}</h1>
    <ul>
        <li><a href="{{ url_for('web_blueprint.index') }}">Вернуться к списку</a></li>
        <li><a href="{{ url_for('web_blueprint.historical_prices', symbol=ticker) }}">Посмотреть историю цен на {{ ticker }}</a></li>
    </ul>
    <table>
        <thead>
        <tr>
            <th>Имя инсайдера</th>
            <th>Отношение инсайдера к компании</th>
            <th>Дата последней сделки</th>
            <th>Тип сделки</th>
            <th>Тип владения</th>
            <th>Акций участвовало в сделках</th>
            <th>Цена последней сделки</th>
            <th>Акций осталось у инсайдера</th>
        </tr>
        </thead>
        <tbody>
        {% for insider_trade in insider_trades %}
            <tr>
                {% for key in insider_trade %}
                    <td>{{ insider_trade[key] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}