{% extends 'base.html' %}
{% from 'macros.html' import main_menu %}
{% block title %}Торги {{ insider_name }} для {{ ticker }}{% endblock %}
{% block body %}
    <h1>Торги {{ insider_name }} для {{ ticker }}</h1>
    {{ main_menu(ticker) }}
    <table>
        <thead>
        <tr>
            <th>Имя инсайдера</th>
            <th>Отношение инсайдера к компании</th>
            <th>Дата последней сделки</th>
            <th>Тип сделки</th>
            <th>Тип владения</th>
            <th>Акций участвовало в сделках</th>
            <th>Цена последней сделки</th>
            <th>Акций осталось у инсайдера</th>
        </tr>
        </thead>
        <tbody>
        {% for insider_trade in insider_trades %}
            <tr>
                {% for key in insider_trade %}
                    <td>{{ insider_trade[key] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}