{% extends 'base.html' %}
{% from 'macros.html' import main_menu %}
{% block title %}Торги инсайдеров для {{ ticker }}{% endblock %}
{% block body %}
    <h1>Торги инсайдеров для {{ ticker }}</h1>
    {{ main_menu(ticker) }}
    <table>
        <thead>
        <tr>
            <th>Имя инсайдера</th>
            <th>Отношение инсайдера к компании</th>
            <th>Дата последней сделки</th>
            <th>Тип сделки</th>
            <th>Тип владения</th>
            <th>Акций участвовало в сделках</th>
            <th>Цена последней сделки</th>
            <th>Акций осталось у инсайдера</th>
        </tr>
        </thead>
        <tbody>
        {% for insider_trade in insider_trades %}
            <tr>
                {% for key in insider_trade %}
                    {% if key == 'insider_name' %}
                        <td><a href="{{ url_for('web_blueprint.insider_trades_by_insider_name',symbol=ticker, insider_name=insider_trade[key]) }}">{{ insider_trade[key] }}</a></td>
                    {% else %}
                        <td>{{ insider_trade[key] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}